* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("img/descarga.jpeg");
    background-size: cover;
    font-family: sans-serif;
    color: white;
}
a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.logo img {
    height: 50px;
    margin-right: 10px; 

}

nav a{
    font-weight: 600;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: black
}

.nosotros {
    text-align: center;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-98%) translateY(50%); 
}


.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    transform: translateY(557px);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 150px;

}

.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: white;
    margin-bottom: 10px;
}

.caja{
    background-color: red;
}

.titulo {
    margin-bottom: 40px;
    font-size: 250%;
    background-color: #171717;
    text-align: center;
}

.lineas {
    font-size: 20px;
    color: black;
    float: right;
    line-height: 30px;
    display: none;
    transform: translateX();
}

.titulo1 {
    text-align: center;
}
.medicos {
    height: 450px;
    transform: translateX(170%) translateY(8%);
}

@media (max-width: 858px){
    .lineas {
        display: block;
    }
    ul a{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul menu{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul menu a{
        font-size: 20px;

    }
    li a.hover, li a.active{
        background: none;
        color: red;

    }
    #lineas:checked ~ ul{
        left: 0;
    }
    .nosotros {
        transform: translateX(-200px) translateY(110px);
    }
    .medicos {
        transform: translateX(13%) translateY(100%);
    }
}